<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#">
          <strong>Menu 1</strong>
        </a>
        <ul>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 1</a></li>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 2</a></li>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 3</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <strong>Menu 2</strong>
        </a>
        <ul>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 1</a></li>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 2</a></li>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 3</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <strong>Menu 3</strong>
        </a>
        <ul>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 1</a></li>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 2</a></li>
          <li><a href="#" class="center-block btn btn-default btn-xs">Item 3</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <a href="#">
          <strong>Menu 4</strong>
        </a>
        <ul class="inline-icons">
          <li>
            <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="#"><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
