<header>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <figure class="center-block logo">
               <img src="https://picsum.photos/g/150/150/?random">
            </figure>
         </div>
         <div class="col-sm-3">
            <a href="" class="btn btn-default btn-sm center-block">Home</a>
         </div>
         <div class="col-sm-3">
            <a href="" class="btn btn-default btn-sm center-block">About Us</a>
         </div>
         <div class="col-sm-3">
            <a href="" class="btn btn-default btn-sm center-block">Products</a>
         </div>
         <div class="col-sm-3">
            <a href="" class="btn btn-default btn-sm center-block">Contact</a>
         </div>
      </div>
   </div>
</header>